nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand(href='#')
      img(src="../public/images/igem_tue_logo.png", alt="igem uni tuebingen logo", width='70', height='70', style='margin-right: 1rem')
      | PUG Crashcourse
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon

    #navbarNav.collapse.navbar-collapse
      .navbar-nav
        a.nav-item.nav-link(href='https://pugjs.org/api/getting-started.html') pug documentation
        a.nav-item.nav-link(href='https://getbootstrap.com/docs/5.0/getting-started/introduction/') Bootstrap documentation
